.forgeDiv{
	image{
		width: 100%;
		height: 100%;
	}
	width: 100%;
	padding: var(--headerMargin) 0 0 0;
	height: calc( 100vh - var(--headerMargin) );
	background: #fff5e1;
	.forgeDiv_conter{
		width: 100%;
		height: calc( 100vh - var(--headerMargin) - 220rpx );
		// 1
		.comBattleDiv_battle_1 {
			width: 100%;
			height: 500rpx;
			overflow: hidden;
			position: relative;
			display: flex;
			.comBattleDiv_battle_1_div {
				flex: 1;
				text-align: center;
				position: relative;
				.comBattleDiv_battle_1_divs{
					position: absolute;
					bottom: 0;
					width: 100%;
					.comBattleDiv_battle_1_div_i_name {
						width: 80%;
						font-size: 32rpx;
						background: #ba87618a;
						height: 60rpx;
						line-height: 60rpx;
						margin: 10rpx auto;
					}
					.comBattleDiv_battle_1_div_img {
						width: 194rpx;
						height: 250rpx;
						overflow: hidden;
						margin: 0 auto;
						image{
							width: 100%;
							height: 100%;
						}
					}
					.comBattleDiv_battle_1_div_i_pro{
						position: relative;
						margin: 10rpx 0;
						.comBattleDiv_battle_1_div_progress {
							width: 80%;
							border-radius: 100rpx;
							overflow: hidden;
							margin: 0 auto;
						}
						.comBattleDiv_battle_1_div_blood1 {
							width: 100%;
							height: 30rpx;
							position: absolute;
							left: 0;
							font-size: 12px;
							color: black;
							bottom: 0;
						}
					}
				}
			}
			.comBattleDiv_left{
				display: flex;
				align-items: center;
				.comBattleDiv_left_li{
					flex: 1;
					.comBattleDiv_left_li_div{
						width: 74rpx;
						height: 74rpx;
						background: red;
						margin: 0 auto;
					}
					.comBattleDiv_left_li_div:nth-child(2){
						margin: 40rpx auto;
					}
				}
				.comBattleDiv_left_lis{
					flex: 2;
				}
			}
		}
		.comBattleDiv_battle_1::after{
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 500rpx;
			background-image: url('@/static/image/bg_top1.png');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: contain;
			background-color: #fff5e1;
		}
		// 2
		.comBattleDiv_battle_2 {
			width: auto;
			height: calc( 100% - 552rpx );
			overflow: auto;
			font-size: 24rpx;
			border-bottom: 2rpx dashed #806868;
			background: #fff5e1;
			.comBattleDiv_battle_2_list{
				width: 100%;
				height: calc( 80% - 50rpx );
				overflow: auto;
				position: relative;
				.comBattleDiv_battle_2_list_ui{
					display: flex;
					flex-wrap: wrap;
					position: relative;
					.comBattleDiv_battle_2_list_li{
						width: 103rpx;
						height: 103rpx;
						position: relative;
					}
					.comBattleDiv_battle_2_list_li:active{
						background: red;
					}
					.comBattleDiv_battle_2_list_li::after{
						content: '';
						border: 1rpx solid red;
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
					}
				}
			}
			.comBattleDiv_battle_2_txt{
				width: 100%;
				height: 20%;
			}
		}
	}
	.forgeDiv_footer{
		height: 180rpx;
		padding: 20rpx;
		overflow: hidden;
		position: relative;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		background: #fff5e1;
		div {
			width: 147rpx;
			height: 67rpx;
			line-height: 67rpx;
			text-align: center;
			border-radius: 10rpx;
			margin: 0 7rpx;
			color: #806868;
			border: 1rpx solid #a18884;
		}
		div:active {
			background: red;
		}
	}
}