.comKnapsackDiv{
	height: 100vh;
	overflow: hidden;
	// display: flex;
	.comKnapsackDiv_left{
		width: 100%;
		height: 30%;
		overflow: hidden;
		position: relative;
		.comKnapsackDiv_left_seat{
			width: 100%;
			height: var(--conHeight);
		}
		.comKnapsackDiv_leftUp{
			width: 100%;
			height: calc(100% - var(--conHeight));
			overflow: auto;
			position: relative;
			border-right: 1rpx solid #d6d6d6;
			display: flex;
			justify-content: space-around;
			.comKnapsackDiv_leftUp_left{
				width: 50%;
				.comKnapsackDiv_leftUp_left1{
					display: flex;
					// justify-content: center;
					.comKnapsackDiv_leftUp_left1_image{
						width: 100rpx;
						height: 100rpx;
						overflow: hidden;
						image{
							width: 100%;
							height: 100%;
						}
					}
					.comKnapsackDiv_leftUp_left1_txt{
					}
				}
				.comKnapsackDiv_leftUp_left2{
					display: flex;
					align-items: center;
					position: relative;
					.comKnapsackDiv_leftUp_left2_pro{
						width: 80%;
						display: flex;
						align-items: center;
						justify-content: center;
						.comKnapsackDiv_progress{
							width: 100%;
							border-radius: 100rpx;
							overflow: hidden;
						}
						.comKnapsackDiv_leftUp_left2_proNum{
							position: absolute;
							width: 100%;
							font-size: small;
							text-align: center;
						}
					}
				}
			}
			.comKnapsackDiv_leftUp_right{
				position: relative;
				width: 50%;
			}
		}
	}
	.comKnapsackDiv_right{
		width: 100%;
		height: 70%;
		position: relative;
		overflow: hidden;
		.comKnapsackDiv_right_top{
			width: 100%;
			height: 65%;
			padding: 14rpx 0 0 0;
			overflow: hidden;
			.comKnapsackDiv_right_tops{
				display: flex;
				flex-wrap: wrap;
				width: 94%;
				height: 97%;
				margin: 0 auto;
				overflow: auto;
				.comKnapsackDiv_right_list{
					width: 100rpx;
					height: 100rpx;
					margin: 0 0 10rpx 0;
					.comKnapsackDiv_right_li{
						width: 90%;
						height: 100%;
						background: red;
						margin: 0 auto;
						font-size: small;
					}
				}
			}
		}
		.comKnapsackDiv_right_txt{
			width: 100%;
			height: 20%;
			background: #FFF5E2;
		}
		.comKnapsackDiv_right_butlist{
			width: 100%;
			height: calc( 15% - 7px );
			background: red;
			display: flex;
			align-items: center;
			// justify-content: center;
			.comKnapsackDiv_right_butlist_but{
				width: 80%;
				display: flex;
			}
			.comKnapsackDiv_right_button{
				color: #ffffff;
				padding: 14rpx;
				background: black;
				border-radius: 14rpx;
				text-align: center;
				width: 80rpx;
				height: 40rpx;
				font-size: small;
				line-height: 40rpx;
			}
		}
	}
}